.rbenv-version
.DS_Store
.specification
.zenflow-log
.project
/projectFilesBackup
/.idea
/pkg
/tmp
/doc
/coverage
/aws.yml
/transfer.yml
/*.gem
/test/transfer/aspera/fixtures/files/upload_symlink_directory
/tags
/tmp/tags
*.dSYM
extras/y4m_signature/y4m_signature
.idea
regression/media_files
*.pyc
