<html>
  <head>
    <title>Codec Quality Comparison</title>
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/d3/d3.min.js"></script>
    <script src="js/rickshaw.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="css/rickshaw.css">
  </head>
  <body>
    <h1>Codec Quality Comparison</h1>
    <div id="area"></div>
    <div id="timeline"></div>
    <div id="legend"></div>
    <script>
      $(function() {
        var data = [
          {
           color: 'red',
           data: <%= @psnr_data %>,
           name: 'PSNR'
          },
          {
           color: 'green',
           data: <%= @ssim_data %>,
           name: 'SSIM'
          },
          {
           color: 'blue',
           data: <%= @bitrate_data %>,
           name: 'Bitrate'
          },
        ];
        drawChart(data, <%= @keyframes %>);
      });
    </script>
  </body>
</html>
